<div class="container-fluid p-0 addcat-cont height-full">
    <div *ngIf="loading" class="row p-2">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
            <mat-card class="food-card">
                <mat-card-content>
                    <!-- <mat-progress-spinner
                        class="loading-ind"
                        [color]="'warn'"
                        [mode]="'indeterminate'"
                        [value]="'50'">
                    </mat-progress-spinner> -->
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <i>Yükleniyor, lütfen bekleyiniz...</i>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div *ngIf="!loading && allNotifs && allNotifs.length > 0" class="row p-2 mt-4">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
            <div *ngFor="let notif of allNotifs" class="card mt-4">
                <div class="card-body notif-card">
                    <div class="auth-avatar">
                        <img src="https://cdn0.iconfinder.com/data/icons/food-icons-rounded/110/Fork-Spoon-512.png"
                            alt="user" class="user-image">
                    </div>
                    <div class="text-center">
                        <div class="container-fluid p-0">
                            <div class="row p-0">
                                <div class="col">
                                    <mat-chip-list aria-label="Dog selection">
                                        <mat-chip *ngIf="notif.isRead === 0" class="brown-chip" (click)="readNotif(notif.id)">
                                            Yeni
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div class="col">
                                    {{notif.createdTime | date:'dd.MM.YYYY HH:mm':'tr'}}
                                </div>
                            </div>
                            <div class="row p-0 mt-2">
                                <div class="col">
                                    <button *ngIf="notif.triggerUser && notif.triggerUser > 0" mat-mini-fab class="avatar right-mar">
                                        {{notif.triggerUserObj['firstName'][0] + notif.triggerUserObj['lastName'][0]}}
                                    </button>
                                    <span>{{notif.message}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <button *ngIf="notif.isRead === 0" mat-button color="accent">Yeni:</button> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!loading && (!allNotifs || allNotifs.length === 0)" class="row p-2 mt-4">
      <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card mt-4">
          <div class="card-body notif-card">
            <i>Henüz bir bildiriminiz yok.</i>
          </div>
        </div>
      </div>

    </div>

</div>
