<div class="container-fluid p-0 signup-cont">
  <div class="row">
      <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
          <div class="card auth">
              <div class="card-header title-gold">
                <span class="card-title">Mutfak Dünyası - Giriş</span>
              </div>
              <div class="card-body auth-card">
                  <div class="auth-avatar">
                      <img src="https://cdn0.iconfinder.com/data/icons/food-icons-rounded/110/Fork-Spoon-512.png"
                          alt="user" class="user-image login-img-spec">
                  </div>
                  <form (submit)="submit(userData)">
                      <div class="form-group">
                          <label for="identifier">Kullanıcı adı/Email : </label>
                          <input type="text" name="identifier" class="form-control" placeholder="Kullanıcı adı/Email"
                              [(ngModel)]="userData.identifier">
                      </div>
                      <div class="form-group">
                          <label for="password">Şifre : </label>
                          <input type="password" name="password" class="form-control" placeholder="********"
                              [(ngModel)]="userData.password">
                      </div>
                      <div class="text-center">
                          <input type="submit" class="btn btn-my" value="Giriş">
                      </div>
                      <div class="text-center login">
                          Üye değil misin ? <a routerLink="/pages/signup">Üye ol</a>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>