<mat-drawer-container class="example-container" autosize>
  <mat-toolbar *ngIf="loggedinUser">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Mutfak Dünyası</span>
    <span class="example-spacer"></span>
    <button mat-mini-fab class="avatar" [matMenuTriggerFor]="menu">
      {{loggedinUser['firstName'][0] + loggedinUser['lastName'][0]}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/pages/my-kitchen']" routerLinkActive="mat-accent">
        <mat-icon>restaurant</mat-icon>
        <span>Benim Mutfağım</span>
      </button>
      <button mat-menu-item [routerLink]="['/pages/my-favorites']" routerLinkActive="mat-accent">
        <mat-icon>favorite_border</mat-icon>
        <span>Favori Tariflerim</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Çıkış Yap</span>
      </button>
    </mat-menu>
  </mat-toolbar>
    <mat-drawer #drawer class="example-sidenav" mode="side" [hidden]="!loggedinUser">
      <div *ngIf="loggedinUser" class="container-fluid">
        <div class="row p-0 mt-4">
          <div class="col-3 p-0">
            <div class="container-fluid">
              <div class="row p-0">
                <div class="col-12 p-0">
                  <button mat-button color="primary" [routerLink]="['/home']" routerLinkActive="mat-accent">Ana Sayfa</button>
                </div>
              </div>
              <div class="row p-0">
                <div class="col-12 p-0">
                  <button mat-button color="primary" [routerLink]="['/pages/my-kitchen']" routerLinkActive="mat-accent">Benim Mutfağım</button>
                </div>
              </div>
              <div class="row p-0">
                <div class="col-12 p-0">
                  <button mat-button color="primary" [routerLink]="['/pages/my-favorites']" routerLinkActive="mat-accent">Favori Tariflerim</button>
                </div>
              </div>
              <div *ngIf="loggedinUser && loggedinUser.type === 1" class="row p-0">
                <div class="col-12 p-0">
                  <button mat-button color="primary" [routerLink]="['/pages/add-recipe']" routerLinkActive="mat-accent">Tarif Ekle</button>
                </div>
              </div>
              <div *ngIf="loggedinUser && loggedinUser.type === 1"  class="row p-0">
                <div class="col-12 p-0">
                  <button mat-button color="primary" [routerLink]="['/pages/add-category']" routerLinkActive="mat-accent">Kategori Ekle</button>
                </div>
              </div>
              <div *ngIf="loggedinUser && loggedinUser.type === 1"  class="row p-0">
                <div class="col-12 p-0">
                  <button mat-button color="primary" [routerLink]="['/pages/add-material']" routerLinkActive="mat-accent">Malzeme Ekle</button>
                </div>
              </div>
              <div class="row p-0">
                <div class="col-12 p-0">
                  <button mat-button color="primary" (click)="logOut()">Çıkış Yap</button>
                </div>
              </div>
            </div>
            <div class="col-9 p-0">
  
            </div>
          </div>
        </div>
      </div>
      <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
    </mat-drawer>
  
    <mat-sidenav-container class="msn-container">
      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>

</mat-drawer-container>