<div class="container-fluid p-0">
    <div *ngIf="lastActiveTab === 'categories'" class="row p-2">
        <div class="col-2">
            <div class="input-icons">
                <input type="search" class="input-field form-control" placeholder="Tarif ismiyle ara..." [(ngModel)]="searchText" (keyup.enter)="searchRecipes(searchText)"/>
            </div>
        </div>
        <div class="col-1">
            <button class="btn btn-my mt-0" color="primary" (click)="searchRecipes(searchText)">{{'Ara'}}</button>
        </div>
    </div>
    <div *ngIf="lastActiveTab === 'recipes'" class="row p-2">
        <div class="col-9">
            <div class="input-icons">
                <input type="search" class="input-field form-control" placeholder="Tarif ismiyle ara..." [(ngModel)]="searchText" (keyup.enter)="searchRecipes(searchText)"/>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-my mt-0" color="primary" (click)="searchRecipes(searchText)">{{'Ara'}}</button>
        </div>
    </div>
</div>
<div *ngIf="lastActiveTab === 'recipes'" class="container-fluid p-0">
    <div class="row p-2">
        <div class="col-12">
            <button class="btn btn-my" color="primary" (click)="goBackToCategories()">{{'\< Kategoriler'}}</button>
        </div>
    </div>
</div>

<div *ngIf="lastActiveTab === 'categories' && categories" class="container-fluid p-0">
    <div class="row p-2">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let category of categories" (click)="getRecipes(category.id)">
            <mat-card class="example-card category-card mb-4">
                <mat-card-header>
                    <mat-card-title>{{category.name}}</mat-card-title>
                    <mat-card-subtitle>{{category.description}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{category.imageUrl}}" class="category-img">
                <mat-card-content>
                    <p>
                        {{category.name}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="lastActiveTab === 'recipes' && recipes && recipes.length > 0" class="container-fluid p-0">
    <div *ngFor="let recipe of recipes" class="row p-2">
        <div class="col-12">
            <mat-card class="food-card">
                <mat-card-header>
                    <mat-card-title>{{recipe.name}}</mat-card-title>
                    <mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{recipe.imageUrl}}">
                <mat-card-content>
                    <div class="container-fluid p-0">
                        <div class="row p-0">
                            <div class="col-sm-12">
                                <b>Malzemeler</b>
                            </div>
                        </div>
                        <div *ngFor="let material of recipe.materialList" class="row p-1">
                            <div class="col-sm-12">
                                <button *ngIf="material.isBanned" mat-icon-button class="btn btn-my-danger mt-0">
                                    <i class="fa fa-ban"></i>
                                </button>
                                <button *ngIf="!material.isBanned" mat-icon-button class="btn btn-my mt-0" [matMenuTriggerFor]="menu">
                                    <i class="fa fa-cart-plus"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="searchEcommerce(material.materialName, 'migros')">
                                        <span>Migros</span>
                                    </button>
                                    <button mat-menu-item (click)="searchEcommerce(material.materialName, 'trendyol')">
                                        <span>Trendyol</span>
                                    </button>
                                </mat-menu>
                                {{material.quantity ? material.quantity + ' ' + material.materialName : material.materialName}}
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <b>Yapılışı</b>
                            </div>
                        </div>
                        <div class="row p-0">
                            <div class="col-sm-12" [innerHTML]="recipe.howToMake">
                                
                            </div>
                        </div>
                    </div> 
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon" (click)="addToFavorites(recipe.id)">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="lastActiveTab === 'recipes' && (!recipes || recipes.length === 0)" class="container-fluid p-0 height-full">
    <div class="row p-2">
        <div class="col-12">
            <mat-card class="food-card">
                <mat-card-content>
                    <i>Üzgünüz, aradığınız tarif bulunamadı.</i>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>