<div class="container-fluid p-0 addcat-cont height-full">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
            <div class="card auth">
                <div class="card-body auth-card">
                    <div class="auth-avatar">
                        <img src="https://cdn1.iconfinder.com/data/icons/rounded-set-6/48/view-details-512.png"
                            alt="user" class="user-image">
                    </div>
                    <form (submit)="addMaterial(materialData)">
                        <div class="form-group">
                            <label for="catName">Malzeme Adı : </label>
                            <input type="text" name="catName" class="form-control" placeholder="Malzeme adı"
                                [(ngModel)]="materialData.materialName">
                        </div>
                        <div class="form-group">
                            <label for="catDesc">Açıklama : </label>
                            <input type="text" name="catDesc" class="form-control" placeholder="Açıklama"
                                [(ngModel)]="materialData.description">
                        </div>
                        <div class="form-group">
                            <label for="catDesc">Online Satış Yasağı : </label>
                            <mat-radio-group aria-label="Seçiniz" class="form-control" name="banned-rd" [(ngModel)]="materialData.isBanned">
                                <mat-radio-button value="0" class="form-control btn-radio">Yok</mat-radio-button>
                                <mat-radio-button value="1" class="form-control btn-radio">Var</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-my" value="Kaydet">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>